@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  background-color: #191919;
}

/* Hide scrollbar for tab overflow */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
